 div{
  /* margin: 0%;
  padding: 0%; */
  background: rgb(228, 183, 193);

  
}

nav{
    display: inline-block;
    border-radius: 20px 0 20px 0;
    padding: 10px;
    position: sticky;
    /* background: rgb(228, 183, 193); */
    
}
nav a{
    padding: 10px;
    color: rebeccapurple;
    text-decoration: none;
    margin-right: 10px;
    background: rgb(187, 149, 149);
  
    
   

}
nav a:hover{
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border-radius: 15px 0 15px 0;

    
}