span{
    color: blue;
    font-family: bold;
}

.Nav{
    background-color: lightblue;
    padding: 20px;
    box-shadow: 2px 2px 2px rgb(163, 155, 155) ;
    position: sticky;

top: 0px;
    
    
    
}

