nav {
  padding: 20px;
  background: linear-gradient(45deg, rgb(88, 87, 87), rgb(125, 125, 253));
  position: sticky;
  top: 20px;
}
a {
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  position: sticky;
  background-color: black;
}
nav a:hover {
  background-color: white;
  color: black;
  border-radius: 17px 0px 17px 0px;
}

.logo {
  float: right;
}
