nav {
  padding: 20px;
  background: linear-gradient(45deg, rgb(88, 87, 87), rgb(125, 125, 253));
}
a {
  text-decoration: none;
  padding: 15px;
  color: rgb(255, 255, 255);
  background-color: black;
  margin-right: 2px;
}
nav a:hover {
  background-color: white;
  color: black;
  padding: 17px;
}

.logo {
  float: right;
}
