.to{
  
  color: blue;
text-align: center;
}
img{width: 10px;
height: 400px;}
h3{
  color: black;
}
.pra{
  text-align: center;
  text-transform: capitalize;
font-family: inherit;
}
.card{
margin-left: 200px;
}
.img1{height: 550px;
width: 1400px;}
